# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/target
.vscode/launch.json
Report/Titulkurs011-013.docx
Report/курсовая работа v1.0.docx
.gitignore
Report/Приложение.docx
Report/курсовая работа v2.0.docx
