<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.productName}"></title>
    <style>
        img {
            /*width: 200px;*/
            height: 250px;
        }
    </style>
</head>
<body>






<div>
    <h1 th:text="${product.productName}"></h1>
    <img th:src="@{${'/'} + ${product.productImage}}" th:alt="${product.productName}" />
    <p th:text="${product.productDescription}"></p>
    <p th:text="'Price: '+ ${product.productPrice}">Price: </p>

    <button>Add to Cart</button>
<!--    TODO: do cart, active button, reviews-->

</div>
</body>
</html>
